body{
    margin: 0;
    color:  #161439;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* Header */
.container{
    width: 100%, 1920px;
    display: flex;
    margin: 0px 152px;
    justify-content: space-between;
}

.menu{
    margin-top: 24px;
}

.header-logo{
    margin-top: 7px;
    margin-right: 43px;
}

.menu-list{
    font-family: "Poppins", sans-serif;
    display: flex;
    list-style: none;
}

.list-item{
    font-weight: 500;
    line-height: 16px;
    margin-top: 17px;
    margin-left: 40px;
    text-decoration: none;
    color: #161439;
}

.list-item:hover{
    color: #5751E1;
}

.header-form{
    width: 450px;
    height: 52px;
    display: flex;
    margin-left: 52px;
    margin-right: 25px;
    border: solid 1px;
    border-radius: 100px;
    border-color:  #D3D2DF;
}

.form-input{
    width: 350px;
    height: 50px;
    font-size: 14px;
    margin-left: 30px;
    border: none;
    outline: none;
}

.form-button{
    width: 44px;
    height: 44px;
    margin-top: 4px;
    margin-right: 7px;
    border: solid 1px;
    border-radius: 22px;
    border-color: #5751E1;
    background-color: #5751E1;
}

.header-cart{
    display: flex;
    margin-top: 11px;
}

.header-cart img{
    width: 29.99px;
    height: 25.33px;
}

.header-cart p{
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin: 0;
    margin-top: 3px;
    margin-left: 8px;
}

.header-button{
    width: 140px;
    height: 44px;
    margin-top: 4px;
    margin-left: 49px;
    border: solid 1px #FFC224;
    border-radius: 50px;
    background-color: #FFC224;
    box-shadow: 4px 6px 0px 0px #050071;
    cursor: pointer;
}